@import url(https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css);

* {
  box-sizing: border-box;
}

body {
  background: #1a1b1c;
  margin: 0;
}
a,
html,
input,
button,
select,
textarea {
  color: #eaebec;
  font-size: 18px;
  font-family: 'TikTok Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0, 'wdth' 100;
}
textarea {
  resize: none;
}
button,
select,
input,
textarea {
  padding: 5px 10px;
  border: 1px solid #2a2b2c;
  background: #2a2b2c;
  outline: 0;
  font-weight: 500;
}
button:hover,
select:hover,
input:hover,
textarea:hover {
  box-shadow: 0 0 15px 0 #101112;
}
button:focus,
select:focus,
input:focus,
textarea:focus {
  box-shadow: 0 0 10px 0 #212223;
  border: 1px solid #1a1b1c;
}
button:active,
select:active,
input:active,
textarea:active {
  box-shadow: 0 0 15px 0 #101112;
  border: 1px solid #1a1b1c;
}
button {
  padding: 15px 50px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  padding: 15px;
  padding-bottom: 35px;
  border: 1px solid #2a2b2c;
}
.row {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}
.row > * {
  display: inline-block;
  font-size: 18px;
  white-space: normal;
  overflow: hidden;
  vertical-align: top;
  height: 100%;
}

.app-bar {
  height: 80px;
  line-height: 80px;
  background: #2a2b2c;
  position: relative;
}
.app-bar > div {
  padding: 0 10px;
}
.app-bar-title {
  font-size: 22px;
  font-weight: 800;
}
.app-bar-menu > a > span {
  font-size: 32px;
}
.app-bar-icons {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 32px;
}

.field {
  padding: 5px;
}
.wide > * {
  width: 100%;
}

.list-posts {
  padding: 15px;
}
.item-post {
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 15px;
  background: #111213;
}
.item-post .post-info {
  padding: 10px;
}
.submit-post {
  margin: 0 auto;
  border-radius: 25px;
  width: 60%;
  min-width: 400px;
  border: 1px solid #2a2b2c;
  padding: 15px;
  box-shadow: 0 0 15px 0 #101112;
}
.comment {
  margin: 0 auto;
  border-radius: 25px;
  width: 60%;
  min-width: 400px;
  border: 1px solid #2a2b2c;
  padding: 15px;
  box-shadow: 0 0 15px 0 #101112;
}

.app-tabs {
  /* background-color: azure; */
  a {
    /* border: 1px solid #000; */
    /* color: #101112; */
    font-weight: 600;
    /* padding: 0 25px; */
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    width: calc(100% / 3);
    /* transition: all 3s ease; */
    background: #3a3b3c;
  }
  a:hover {
    background: #414243;
  }
}

.copyrights {
  text-align: center;
  padding: 25px;
}

.toolbar {
  background: #2a2b2c;
  background: #1a1b1c;
  background: #212223;
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  z-index: 1;
  left: -250px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px 0 #101112;
}
.app-bar-menu > a:focus + .toolbar {
  left: 0;
}
.toolbar-bar > div {
  padding: 0 10px;
}
