* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
html,
button {
  font-family: sans-serif;
  font-size: 22px;
  color: #def;
}
.wrap-button {
  text-align: center;
  padding: 5px;
}
button {
  color: #234;
}
.row {
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}
.row > * {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
}
body {
  background: #1d1e1f;
}

[class|='item'] {
  color: orange;
  padding: 5px;
  border: 3px solid;
  border-radius: 15px;
  margin-bottom: 5px;
}
[class|='wrap-list'] {
  color: dodgerblue;
  width: calc(100% / 3);
  padding: 15px;
  border: 5px solid;
  border-radius: 15px;
}
.wrapper {
  color: fuchsia;
  padding: 15px;
}
h1.title {
  text-align: center;
}
